@font-face
    font-family: 'homemade-apple';
    src url(../fonts/HomemadeApple.ttf) format('truetype')

bgBlue = rgb(0, 126, 177)
bgGreen = rgb(21, 172, 163)
bgGrey = rgb(237, 237, 237)
textGrey = rgb(130, 128, 129)

modalBlue = rgb(0, 133, 186)
modalGrey = rgb(211, 211, 211)
modalFormGrey = #a4a9ac
btnTw = #00bcf2
btnFb = rgb(33, 91, 194)
btnGp = rgb(237, 28, 36)
btnIn = rgb(66, 72, 66)

center(wo)
    margin-left 0% - (wo / 2)
    left 50%

borderRadius(amount)
    -webkit-border-radius: amount
    -moz-border-radius: amount
    border-radius: amount

shadow(hoff, voff, blur, color)
    -webkit-box-shadow: hoff voff blur color
    -moz-box-shadow: hoff voff blur color
    box-shadow: hoff voff blur color

gradient(color)
    background-image -webkit-linear-gradient(180deg, color, color 60%, transparent)
    background-image -moz-linear-gradient(180deg, color, color 60%, transparent)
    background-image -ms-linear-gradient(180deg, color, color 60%, transparent)
    background-image -o-linear-gradient(180deg, color, color 60%, transparent)
    background-image linear-gradient(180deg, color, color 60%, transparent)

transition(time, func = ease)
    -webkit-transition: all time func
    -moz-transition: all time func
    -ms-transition: all time func
    -o-transition: all time func
    transition: all time func

body
    font-family "Arial"

a, a:focus, a:active, a:hover
    outline none
    text-decoration none !important

.topbar
    width 100%
    font-size 0.9em
    font-weight bold
    padding 10px 25px
    background-color bgBlue
    color white
    float right
    position fixed
    top 0
    z-index 200 !important
    shadow(0, 0, 5px, rgba(0, 0, 0, .8))

    .fa
        font-size large
        vertical-align bottom

    #searchTop
        float left
        opacity 0
        -webkit-transform: scale3d(0, 0, 1)
        -moz-transform: scale3d(0, 0, 1)
        -ms-transform: scale3d(0, 0, 1)
        -o-transform: scale3d(0, 0, 1)
        transform: scale3d(0, 0, 1)
        -webkit-transition: all .3s
        -moz-transition: all .3s
        -ms-transition: all .3s
        -o-transition: all .3s
        transition: all .3s

    #searchTop.toggle
        opacity 1
        -webkit-transform: scale3d(1, 1, 1)
        -moz-transform: scale3d(1, 1, 1)
        -ms-transform: scale3d(1, 1, 1)
        -o-transform: scale3d(1, 1, 1)
        transform: scale3d(1, 1, 1)

    a
        text-decoration none !important
        color white
        display block
        margin-left 25px

        &:first-child

            img
                width 27px
                height 27px
                border-radius 50%

        &:nth-child(2), &:last-child
            margin-top 3px

.caret-down
    display inline-block
    width 0
    height 0
    border-right 5px solid transparent
    border-left 5px solid transparent
    border-top 5px solid black
    vertical-align middle

.appear
    opacity 0
    position relative

[data-from=top]
    top -30px

[data-from=right]
    right -60px

[data-from=bottom]
    bottom -30px

[data-from=left]
    left -60px

.social-blue
    background-color bgBlue
    padding-top 10px

    span
        i:last-child
            color bgBlue

    a
        color white

.last
    color bgBlue
    padding 30px 0 20px
    background-color white

    .words
        .col-md-4
            padding-left 5%

        p
            color rgb(156, 156, 156)
            font-size larger

        & > div:not(:last-of-type)
            border-right 3px solid rgb(142, 189, 210)

    .square
        width 240px
        height 80px
        background-color rgb(153, 203, 80)
        position relative
        left 50%
        margin-left -120px

footer
    background-color rgb(105, 105, 105)

    p
        margin 0
        padding 10px 0
        color white

// todo: footer page
//.fblue
//    background-color rgb(180, 234, 247)
//    span
//        color rgb(102, 213, 239)
//
//.fyellow
//    background-color rgb(243, 239, 184)
//    span
//        color rgb(231, 223, 114)
//
//.fpurple
//    background-color rgb(211, 182, 229)
//    span
//        color rgb(189, 146, 216)
//
//.fgreen
//    background-color rgb(196, 223, 155)
//    span
//        color rgb(137, 191, 56)
//
//.forange
//    background-color rgb(255, 196, 90)
//    span
//        color rgb(255, 137, 1)
//
//.fred
//    background-color rgb(255, 158, 143)
//    span
//        color rgb(255, 98, 80)
//
//.flyellow
//    background-color rgb(240, 238, 201)
//    span
//        color rgb(255, 221, 147)
//
//.florange
//    background-color rgb(255, 217, 166)
//    span
//        color rgb(255, 181, 82)
//
//.flgreen
//    background-color rgb(153, 231, 217)
//    span
//        color rgb(52, 207, 179)
//
//.flgreen2
//    background-color rgb(173, 234, 222)
//    span
//        color rgb(92, 213, 189)
//
//.flpink
//    background-color rgb(244, 233, 234)
//    span
//        color rgb(233, 191, 213)
//
//.flpurple
//    background-color rgb(221, 211, 232)
//    span
//        color rgb(187, 167, 209)
//
//footer
//    color rgb(97, 97, 97)
//
//    [class^=col-]
//        padding 0
//
//    .mid
//        height .1666666667rem !important
//
//    .square
//        display block
//        position relative
//        font-size larger
//        height .3333333333rem
//        border 1px solid white
//
//        .fa, p
//            position absolute
//        .fa
//            top 10px
//            right 10px
//        p
//            bottom 10px
//            left 10px
//            margin 0
//            line-height 1em
//            color rgb(103, 106, 107)
//            font-stretch semi-condensed
//            letter-spacing 1px
//
//.last
//    background-color rgb(80, 89, 94)
//    color white
//    text-align center
//
//    p
//        padding 10px

@media screen and (max-width 992px)
    .words
        text-align center
        margin-top 30px
        p, .col-md-4
            display inline-block
        p
            margin-right 30px
            color bgBlue !important
            font-size x-large !important
        & > div:not(:last-of-type)
            border-right none !important

@media screen and (max-width 768px)
    span.hs
        display none

@media screen and (min-width 768px)
    .square
        font-size x-large !important
