@media screen and (max-width 1200px)
    .done
        & > .list-inline
            margin-top 2%
            white-space nowrap
            overflow-x auto
            overflow-y hidden

            li
                float none

                &:first-child,
                &:last-child
                    display none !important


@media screen and (max-width 992px)
    .event:nth-child(4) ~ .event
        display none

@media screen and (max-width 768px)
    .search
        center(91.66666667%)

    .events
        .event
            margin-left 0

    .palm-trees h2
        font-size 18px
        padding-left 5px
        padding-right 5px

    .counter
        &.center
            margin 0 10% !important

        .rhombus
            width .2rem !important
            height .2rem !important

        .amount
            font-size .055rem !important

@media screen and (max-width 550px)
    .first .item
        padding 0 5%

@media screen and (max-width 480px)
    .first .item
        padding 0 2%

        p
            font-size 16px

@media screen and (max-width 360px)
    h2
        font-size 24px

    h4
        font-size 16px

    nav, .search
        font-size smaller



@media screen and (min-width 768px)
    .search
        font-size large
        center(66.66666667%)

        h4
            letter-spacing 1px

    .events
        .event.col-md-4
            width 48.8% !important

            &:nth-of-type(2n)
                margin-right 0

    .counter
        h4
            font-size 18px !important
            margin-left -20%
        &.center h4
            margin-left -70% !important

@media screen and (min-width 992px)
    .search
        center(50%)

        & > h2
            margin-bottom 3%
            font-size 35px

        & > h4
            font-size 19px

        button
            text-transform uppercase

    .first .item
        padding 0 17%

    .events
        .event.col-md-4
            width 32.2% !important

            &:nth-of-type(2n)
                margin-right 5px
            &:nth-of-type(3n)
                margin-right 0

    .done
        li.col-md-4
            width 30% !important

    .counter
        h4
            margin-left -10%
        &.center h4
            margin-left -40% !important

@media screen and (min-width 1200px)
    .events
        .event.col-lg-3
            width 24.2% !important

            &:nth-of-type(2n),
            &:nth-of-type(3n)
                margin-right 5px
            &:nth-of-type(4n)
                margin-right 0

    .second .item, .third .item
        padding 0 3%

    .counter
        h4
            margin-left -8%
        &.center h4
            margin-left -30% !important
