.container-fluid
  background-color #83c5df
  .navbar-mobile
    text-align center
    li
      display inline-block
      list-style none
      padding 3%
      &.active
        a
          color #007fb4
          border-bottom 1px solid #007fb4
      a
        text-decoration none
        color white
        font-size 1.5em
.upload
  .upload-spot
    width 100px
    height 100px
    background-color black
    margin 10px

.account-type
  .row
    margin-top 20%
